.form-button-field {
  cursor: pointer;
  display: flex;
  padding: 0 20px;
  height: 100%;
  align-items: center;
  width: 100%;
}

.form-button-field.align-left {
  justify-content: flex-start;
}

.form-button-field.align-center {
  justify-content: center;
}

.form-button-field.align-right {
  justify-content: flex-end;
}

button {
  pointer-events: none;
  font-size: 16px;
}

.width-auto {
  width: auto;
}

.full-width{
  width: 100%;
}
