.field {
  height: 100%;
  padding: 0.75rem;
  display: flex;
  gap: 0.5rem;
}

.content {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.placeholder {
  background: #eee;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  border: 2px dashed #aaa;
}

.content.cdk-drop-list-dragging .placeholder {
    display: flex;
}

.content.cdk-drop-list-dragging .form-field {
    display: none;
}
