<div class="separator-customization">
  <div class="row">
    <label>Thickness</label>

    <input
      class="custom-input"
      type="number"
      [(ngModel)]="settings.thickness"
    />
  </div>

  <div class="row">
    <label>Style</label>

    <ng-select
      [items]="lineStyles"
      bindLabel="label"
      bindValue="value"
      [clearable]="false"
      class="custom-select"
      [(ngModel)]="settings.style"
    >
      <ng-template ng-option-tmp let-item="item">
        <div>{{ item.label | translate }}</div>
      </ng-template>

      <ng-template ng-label-tmp let-item="item">
        <div>{{ item.label | translate }}</div>
      </ng-template>
    </ng-select>
  </div>

  <div class="row">
    <label>Color</label>

    <input class="custom-input" type="color" [(ngModel)]="settings.color" />
  </div>
</div>
