<!-- If the section has type OneFieldPerRow-->
<div class="form-section" [ngSwitch]="section.sectionType">
  <app-single-field-section
    *ngSwitchCase="formSectionType.OneFieldPerRow"
    [field]="section.fields[0]"
  ></app-single-field-section>

  <app-double-field-section
    *ngSwitchCase="formSectionType.TwoFieldsPerRow"
    [field]="section.fields[1]"
  ></app-double-field-section>

  <app-triple-field-section
    *ngSwitchCase="formSectionType.ThreeFieldsPerRow"
    [field]="section.fields[2]"
  ></app-triple-field-section>

  <app-quadruple-field-section
    *ngSwitchCase="formSectionType.FourFieldsPerRow"
    [field]="section.fields[3]"
  ></app-quadruple-field-section>

  <app-one-to-two-field-section
    *ngSwitchCase="formSectionType.OneToTwoPerRow"
    [field]="section.fields[1]"
  ></app-one-to-two-field-section>

  <app-two-to-one-field-section
    *ngSwitchCase="formSectionType.TwoToOnePerRow"
    [field]="section.fields[1]"
  ></app-two-to-one-field-section>

  <div *ngSwitchDefault>default</div>
</div>
