<div class="element-customization-container">
  <div>
    <label class="mb-1">{{ "PictureCustomizations.ImageSourceLabel" | translate }}</label>

    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.imageSrc"
    />
  </div>

  <div>
    <label class="mb-1">{{ "PictureCustomizations.AlternativeTextLabel" | translate }}</label>

    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.altText"
    />
  </div>

  <div>
    <label class="mb-1">{{ "PictureCustomizations.LinkToLabel" | translate }}</label>

    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.linkTo"
    />
  </div>

  <div class="row">
    <label>{{ "PictureCustomizations.ImageWidthLabel" | translate }}</label>

    <input
      class="custom-input"
      type="number"
      max="100"
      min="0"
      [(ngModel)]="settings.width"
    />
  </div>

  <div class="row">
    <label>{{ "PictureCustomizations.AlignmentLabel" | translate }}</label>
    <ng-select
      [items]="alignments"
      [clearable]="false"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="settings.alignment"
    >
      <ng-template ng-option-tmp let-item="item">
        <div>{{ item.label | translate }}</div>
      </ng-template>

      <ng-template ng-label-tmp let-item="item">
        <div>{{ item.label | translate }}</div>
      </ng-template>
    </ng-select>
  </div>
</div>
