<div class="input-customization">
  <div class="row">
    <label>Input type</label>

    <ng-select
      [items]="inputTypes"
      [clearable]="false"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="settings.type"
    >
    </ng-select>
  </div>

  <div class="row">
    <label>Show label</label>
    <mat-checkbox
      color="primary"
      [(ngModel)]="settings.showLabel"
    ></mat-checkbox>
  </div>

  <div>
    <label class="mb-1">Label</label>
    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.label"
    />
  </div>

  <div>
    <label class="mb-1">Input placeholder</label>
    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.placeholder"
    />
  </div>

  <div>
    <label class="mb-1">Field name</label>
    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.fieldName"
    />
  </div>

  <div class="row">
    <label>Is required</label>
    <mat-checkbox
      color="primary"
      [(ngModel)]="settings.isRequired"
    ></mat-checkbox>
  </div>
</div>
