<div class="input-customization">
  <div class="row">
    <label>Input Type</label>
    <ng-select
      [items]="inputTypes"
      [clearable]="false"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="settings.type"
    >
    </ng-select>
  </div>

  <div class="row">
    <label>Show label</label>
    <mat-checkbox [(ngModel)]="settings.showLabel"></mat-checkbox>
  </div>

  <div>
    <label class="mb">Label</label>
    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.label"
    />
  </div>

  <div>
    <label class="mb">Placeholder text</label>
    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.placeholder"
    />
  </div>

  <div>
    <label class="mb">Field name</label>
    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.fieldName"
    />
  </div>

  <div class="row">
    <label>Is Required</label>
    <mat-checkbox [(ngModel)]="settings.isRequired"></mat-checkbox>
  </div>
</div>
