<div class="element-customization-container">
  <div class="row">
    <label>{{ "TextColorLabel" | translate }}</label>
    <input class="color-input" type="color" [(ngModel)]="settings.textColor" />
  </div>

  <div class="row">
    <label>{{ "Font" | translate }}</label>

    <div class="select-wrapper">
      <ng-select
        class="full-width"
        [items]="fonts"
        [clearable]="false"
        bindLabel="label"
        bindValue="value"
        [(ngModel)]="settings.font"
      >
      </ng-select>
    </div>
  </div>

  <div class="row">
    <label>{{ "LineHeightLabel" | translate }}</label>
    <input
      class="custom-input"
      type="number"
      [(ngModel)]="settings.lineHeight"
    />
  </div>

  <div>
    <label class="mb-1">{{ "Text" | translate }}</label>
    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.text"
    />
  </div>
</div>
