.form-textarea-field {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 15px;
}

.form-textarea-field.align-left {
  justify-content: flex-start;
}

.form-textarea-field.align-center {
  justify-content: center;
}

.form-textarea-field.align-right {
  justify-content: flex-end;
}

.width-auto {
  width: auto;
}

.full-width {
  width: 100%;
}

textarea {
  width: 100%;
  pointer-events: none;
  border: 1px solid lightgrey;
  font-size: 16px;
  color: #fff;
  padding: 5px;
  margin: 5px 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

textarea::placeholder {
  font-size: 14px;
}
