.field-list {
  padding: 0.75rem;
  display: flex;
  border: 1px solid red;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.field {
  height: 100%;
  border: 1px dashed purple;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
