.dropdown-customization {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label.mb-1 {
  margin-bottom: 5px;
  display: block;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row > ng-select,
input {
  min-width: 200px;
}

.options {
  display: flex;
  flex-flow: column;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-bottom: 20px;
}

.option-delete-button {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
