<div class="button-customization">
  <div>
    <label class="mb-1">Button Type</label>

    <ng-select
      [items]="buttonTypes"
      [clearable]="false"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="settings.type"
    >
    </ng-select>
  </div>

  <div>
    <label class="mb-1">Button Text</label>

    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.text"
    />
  </div>

  <div>
    <label class="mb-1">Link To</label>

    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.linkTo"
    />
  </div>

  <div>
    <label class="mb-1">Button Style</label>

    <ng-select
      [items]="buttonStyles"
      [clearable]="false"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="settings.style"
    >
    </ng-select>
  </div>

  <div class="row">
    <label>Button Color</label>
    <input class="color-input" type="color" [(ngModel)]="settings.color" />
  </div>

  <div class="row">
    <label>Text Color</label>
    <input class="color-input" type="color" [(ngModel)]="settings.textColor" />
  </div>

  <div class="row">
    <label>Border Radius</label>
    <input
      class="custom-input"
      type="number"
      [(ngModel)]="settings.borderRadius"
    />
  </div>

  <div class="row">
    <label>Button Height</label>
    <input class="custom-input" type="number" [(ngModel)]="settings.height" />
  </div>
  <div class="row">
    <label>Button Width</label>
    <ng-select
      [items]="buttonWidthValues"
      [clearable]="false"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="settings.width"
    >
    </ng-select>
  </div>

  <div class="row" *ngIf="settings.width === ButtonWidth.FixedSize">
    <label>Fixed size</label>
    <input
      class="custom-input"
      type="number"
      [(ngModel)]="settings.fixedWidth"
    />
  </div>

  <div class="row">
    <label>Button Alignment</label>
    <ng-select
      [items]="alignments"
      [clearable]="false"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="settings.alignment"
    >
    </ng-select>
  </div>

  <div class="row">
    <label>Text Alignment</label>
    <ng-select
      [items]="textAlignment"
      [clearable]="false"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="settings.textAlignment"
    >
    </ng-select>
  </div>

  <div class="row">
    <label>Font Size</label>
    <input class="custom-input" type="number" [(ngModel)]="settings.fontSize" />
  </div>

  <div class="row">
    <label>Font Family</label>
    <ng-select
      [items]="fonts"
      [clearable]="false"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="settings.fontFamily"
    >
    </ng-select>
  </div>

  <div class="row">
    <label>Is Bold</label>
    <mat-checkbox color="primary" [(ngModel)]="settings.isBold"></mat-checkbox>
  </div>

  <div class="row">
    <label>Is Italic</label>
    <mat-checkbox
      color="primary"
      [(ngModel)]="settings.isItalic"
    ></mat-checkbox>
  </div>
</div>
