<div class="element-customization-container">
  <div>
    <label class="mb-1">{{
      "ButtonCustomization.ButtonType.Label" | translate
    }}</label>

    <ng-select
      [items]="buttonTypes"
      [clearable]="false"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="settings.type"
    >
      <ng-template ng-option-tmp let-item="item">
        <div>{{ item.label | translate }}</div>
      </ng-template>

      <ng-template ng-label-tmp let-item="item">
        <div>{{ item.label | translate }}</div>
      </ng-template>
    </ng-select>
  </div>

  <div>
    <label class="mb-1">{{
      "ButtonCustomization.ButtonTextLabel" | translate
    }}</label>

    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.text"
    />
  </div>

  <div>
    <label class="mb-1">{{
      "ButtonCustomization.LinkToLabel" | translate
    }}</label>

    <input
      class="custom-input full-width"
      type="text"
      [(ngModel)]="settings.linkTo"
    />
  </div>

  <div>
    <label class="mb-1">{{
      "ButtonCustomization.ButtonStyle.Label" | translate
    }}</label>

    <ng-select
      [items]="buttonStyles"
      [clearable]="false"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="settings.style"
    >
      <ng-template ng-option-tmp let-item="item">
        <div>{{ item.label | translate }}</div>
      </ng-template>

      <ng-template ng-label-tmp let-item="item">
        <div>{{ item.label | translate }}</div>
      </ng-template>
    </ng-select>
  </div>

  <div class="row">
    <label>{{ "ButtonCustomization.ButtonColorLabel" | translate }}</label>
    <input class="color-input" type="color" [(ngModel)]="settings.color" />
  </div>

  <div class="row">
    <label>{{ "TextColorLabel" | translate }}</label>
    <input class="color-input" type="color" [(ngModel)]="settings.textColor" />
  </div>

  <div class="row">
    <label>{{ "BorderRadiusLabel" | translate }}</label>
    <input
      class="custom-input"
      type="number"
      [(ngModel)]="settings.borderRadius"
    />
  </div>

  <div class="row">
    <label>{{ "ButtonCustomization.ButtonHeightLabel" | translate }}</label>
    <input class="custom-input" type="number" [(ngModel)]="settings.height" />
  </div>
  <div class="row">
    <label>{{ "ButtonCustomization.ButtonWidth.Label" | translate }}</label>
    <div class="select-wrapper">
      <ng-select
        class="full-width"
        [items]="buttonWidthValues"
        [clearable]="false"
        bindLabel="label"
        bindValue="value"
        [(ngModel)]="settings.width"
      >
        <ng-template ng-option-tmp let-item="item">
          <div>{{ item.label | translate }}</div>
        </ng-template>

        <ng-template ng-label-tmp let-item="item">
          <div>{{ item.label | translate }}</div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="row" *ngIf="settings.width === ButtonWidth.FixedSize">
    <label>{{ "ButtonCustomization.FixedSizeLabel" | translate }}</label>
    <input
      class="custom-input"
      type="number"
      [(ngModel)]="settings.fixedWidth"
    />
  </div>

  <div class="row">
    <label>{{ "ButtonCustomization.ButtonAlignmentLabel" | translate }}</label>
    <div class="select-wrapper">
      <ng-select
        class="full-width"
        [items]="alignments"
        [clearable]="false"
        bindLabel="label"
        bindValue="value"
        [(ngModel)]="settings.alignment"
      >
        <ng-template ng-option-tmp let-item="item">
          <div>{{ item.label | translate }}</div>
        </ng-template>

        <ng-template ng-label-tmp let-item="item">
          <div>{{ item.label | translate }}</div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="row">
    <label>{{ "TextAlignmentLabel" | translate }}</label>
    <div class="select-wrapper">
      <ng-select
        class="full-width"
        [items]="textAlignment"
        [clearable]="false"
        bindLabel="label"
        bindValue="value"
        [(ngModel)]="settings.textAlignment"
      >
        <ng-template ng-option-tmp let-item="item">
          <div>{{ item.label | translate }}</div>
        </ng-template>

        <ng-template ng-label-tmp let-item="item">
          <div>{{ item.label | translate }}</div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="row">
    <label>{{ "ButtonCustomization.FontSizeLabel" | translate }}</label>
    <input class="custom-input" type="number" [(ngModel)]="settings.fontSize" />
  </div>

  <div class="row">
    <label>{{ "ButtonCustomization.FontFamilyLabel" | translate }}</label>
    <div class="select-wrapper">
      <ng-select
        class="full-width"
        [items]="fonts"
        [clearable]="false"
        bindLabel="label"
        bindValue="value"
        [(ngModel)]="settings.fontFamily"
      >
      </ng-select>
    </div>
  </div>

  <div class="row">
    <label>{{ "ButtonCustomization.IsBoldLabel" | translate }}</label>
    <mat-checkbox color="primary" [(ngModel)]="settings.isBold"></mat-checkbox>
  </div>

  <div class="row">
    <label>{{ "ButtonCustomization.IsItalicLabel" | translate }}</label>
    <mat-checkbox
      color="primary"
      [(ngModel)]="settings.isItalic"
    ></mat-checkbox>
  </div>
</div>
