.form-button-field {
  cursor: pointer;
  display: flex;
  padding: 0 20px;
  height: 100%;
  min-height: 95px;
  align-items: center;
  width: 100%;
}

.form-button-field.align-left {
  justify-content: flex-start;
}

.form-button-field.align-center {
  justify-content: center;
}

.form-button-field.align-right {
  justify-content: flex-end;
}

button {
  pointer-events: none;
  max-height: 100%;
  max-width: 100%;
  font-size: 16px;
  color: #fff;
  line-height: 36px;
  padding: 0 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.width-auto {
  width: auto;
}

.full-width {
  width: 100%;
}

/* These style are copied form the mat-flat-button */
.flat-button {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  border: none;
}

/* These style are copied form the mat-raised-button */
.raised-button {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border: none;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* These style are copied form the mat-stroked-button */
.stroked-button {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  display: inline-block;
  background: transparent;
}
