<div class="customization">
  <div class="tab-header">
    <div
      class="tab"
      [ngClass]="{ active: selectedTab === 0 }"
      (click)="selectedTab = 0"
    >
      {{"Current Element" | translate}}
    </div>
    <div
      class="tab"
      [ngClass]="{ active: selectedTab === 1 }"
      (click)="selectedTab = 1"
    >
      {{"Form Design" | translate}}
    </div>
  </div>
  <div *ngIf="selectedTab === 0" class="tab-content">
    <app-element-customization
      [selectedField]="selectedField$ | async"
    ></app-element-customization>
  </div>
  <div *ngIf="selectedTab === 1" class="tab-content">Tab 2</div>
</div>
