<div *ngIf="selectedField" class="element-customization">
  <app-button-customization
    *ngIf="selectedField.fieldType === fieldTypes.Button"
    [settings]="asButtonSettings(selectedField.settings!)"
  ></app-button-customization>

  <app-input-customization
    *ngIf="selectedField.fieldType === fieldTypes.Input"
    [settings]="asInputSettings(selectedField.settings!)"
  ></app-input-customization>

  <app-textarea-customization
    *ngIf="selectedField.fieldType === fieldTypes.Textarea"
    [settings]="asTextareaSettings(selectedField.settings!)"
  ></app-textarea-customization>

  <app-checkbox-customization
    *ngIf="selectedField.fieldType === fieldTypes.Checkbox"
    [settings]="asCheckboxSettings(selectedField.settings!)"
  ></app-checkbox-customization>

  <app-text-customization
    *ngIf="selectedField.fieldType === fieldTypes.Text"
    [settings]="asTextSettings(selectedField.settings!)"
  ></app-text-customization>

  <app-dropdown-customization
    *ngIf="selectedField.fieldType === fieldTypes.Dropdown"
    [settings]="asDropdownSettings(selectedField.settings!)"
  ></app-dropdown-customization>

  <app-radiobutton-customization
    *ngIf="selectedField.fieldType === fieldTypes.RadioButton"
    [settings]="asRadioButtonsSettings(selectedField.settings!)"
  ></app-radiobutton-customization>

  <app-spacer-customization
    *ngIf="selectedField.fieldType === fieldTypes.Spacer"
    [settings]="asSpacerSettings(selectedField.settings!)"
  ></app-spacer-customization>

  <app-picture-customization
    *ngIf="selectedField.fieldType === fieldTypes.Picture"
    [settings]="asPictureSettings(selectedField.settings!)"
  ></app-picture-customization>

  <app-separator-customization
    *ngIf="selectedField.fieldType === fieldTypes.SeparatorLine"
    [settings]="asSeparatorSettings(selectedField.settings!)"
  ></app-separator-customization>

  <!--<div>{{ selectedField | json }}</div>-->
</div>
