<div *ngIf="selectedField" class="element-customization">
  <app-button-customization
    *ngIf="selectedField.fieldType === fieldTypes.Button"
    [settings]="asButtonSettings(selectedField.settings!)"
  ></app-button-customization>

  <app-input-customization
    *ngIf="selectedField.fieldType === fieldTypes.Input"
    [settings]="asInputSettings(selectedField.settings!)"
  ></app-input-customization>

  <app-textarea-customization
    *ngIf="selectedField.fieldType === fieldTypes.Textarea"
    [settings]="asTextareaSettings(selectedField.settings!)"
  ></app-textarea-customization>

  <app-checkbox-customization
    *ngIf="selectedField.fieldType === fieldTypes.Checkbox"
    [settings]="asCheckboxSettings(selectedField.settings!)"
  ></app-checkbox-customization>

  <app-text-customization
    *ngIf="selectedField.fieldType === fieldTypes.Text"
    [settings]="asTextSettings(selectedField.settings!)"
  ></app-text-customization>

  <!--<div>{{ selectedField | json }}</div>-->
</div>
