.empty-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.empty-field img {
  width: 20px;
  height: 20px;
}

.field {
  display: flex;
  padding: 20px;
  flex-direction: column;

  input, textarea {
    width: 100%;
    pointer-events: none;
  }

  button {
    pointer-events: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: normal;
    font-style: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    text-align: center;
    border: 0px;
    background: rgb(1, 67, 163);
  }
}
