<div
  class="form-field"
  [ngClass]="{
    'form-field--selected': (selectedField$ | async)?.id === field.id
  }"
  (click)="selectField()"
>
  <div class="empty-field" *ngIf="field?.fieldType === formFieldType.Empty">
    <img src="assets/down-arrow.png" alt="down-arrow" />
    {{ "EmptyFieldText" | translate }}
  </div>

  <app-form-input-field
    *ngIf="field?.fieldType === formFieldType.Input"
    [settings]="asInputSettings(field.settings!)"
  ></app-form-input-field>

  <app-form-button-field
    *ngIf="field?.fieldType === formFieldType.Button"
    [settings]="asButtonSettings(field.settings!)"
  ></app-form-button-field>

  <app-form-textarea-field
    *ngIf="field?.fieldType === formFieldType.Textarea"
    [settings]="asTextareaSettings(field.settings!)"
  ></app-form-textarea-field>

  <app-form-checkbox-field
    *ngIf="field?.fieldType === formFieldType.Checkbox"
    [settings]="asCheckboxSettings(field.settings!)"
  ></app-form-checkbox-field>

  <app-form-text-field
    *ngIf="field?.fieldType === formFieldType.Text"
    [settings]="asTextSettings(field.settings!)"
  ></app-form-text-field>

  <app-form-dropdown-field
    *ngIf="field?.fieldType === formFieldType.Dropdown"
    [settings]="asDropdownSettings(field.settings!)"
  ></app-form-dropdown-field>

  <app-form-radiobutton-field
    *ngIf="field?.fieldType === formFieldType.RadioButton"
    [settings]="asRadioButtonSettings(field.settings!)"
  ></app-form-radiobutton-field>

  <app-form-spacer-field
    *ngIf="field?.fieldType === formFieldType.Spacer"
    [settings]="asSpacerSettings(field.settings!)"
  ></app-form-spacer-field>

  <app-form-picture-field
    *ngIf="field?.fieldType === formFieldType.Picture"
    [settings]="asPictureSettings(field.settings!)"
  ></app-form-picture-field>

  <app-form-separator-field
    *ngIf="field?.fieldType === formFieldType.Separator"
    [settings]="asSeparatorSettings(field.settings!)"
  ></app-form-separator-field>
</div>
