<div
  class="form-field"
  [ngClass]="{
    'form-field--selected': (selectedField$ | async)?.id === field.id
  }"
  (click)="selectField()"
>
  <div class="empty-field" *ngIf="field?.fieldType === formFieldType.Empty">
    <img src="assets/down-arrow.png" alt="down-arrow" />
    Drop Content Here
  </div>
  <div class="field" *ngIf="field?.fieldType === formFieldType.Input">
    <label>Input</label>
    <input type="text" placeholder="Placeholder text..." />
  </div>

  <app-form-button-field
    *ngIf="field?.fieldType === formFieldType.Button"
    [settings]="asButtonSettings(field.settings!)"
  ></app-form-button-field>

  <div class="field" *ngIf="field?.fieldType === formFieldType.Textarea">
    <label>Textarea</label>
    <textarea placeholder="Placeholder text..."></textarea>
  </div>
</div>
