<div
  class="form-field"
  [ngClass]="{
    'form-field--selected': (selectedField$ | async)?.id === field.id
  }"
  (click)="selectField()"
>
  <div class="empty-field" *ngIf="field?.fieldType === formFieldType.Empty">
    <img src="assets/down-arrow.png" alt="down-arrow" />
    Drop Content Here
  </div>

  <app-form-input-field
    *ngIf="field?.fieldType === formFieldType.Input"
    [settings]="asInputSettings(field.settings!)"
  ></app-form-input-field>

  <app-form-button-field
    *ngIf="field?.fieldType === formFieldType.Button"
    [settings]="asButtonSettings(field.settings!)"
  ></app-form-button-field>

  <app-form-textarea-field
    *ngIf="field?.fieldType === formFieldType.Textarea"
    [settings]="asTextareaSettings(field.settings!)"
  ></app-form-textarea-field>
</div>
