<div class="form-radiobutton-field">
  <label *ngIf="settings.showLabel" [for]="radioButtonId">{{
    settings.label
  }}</label>
  <div class="radio-buttons">
    <div *ngFor="let option of settings.options; let i = index">
      <input
        [checked]="option.value === settings.selectedValue"
        [required]="settings.isRequired"
        type="radio"
        [id]="radioButtonId + i"
        [value]="option.value"
        [name]="settings.fieldName"
      />
      <label [for]="radioButtonId + i">{{ option.label }}</label>
    </div>
  </div>
</div>
