<div
  class="field-list"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="onReorderFields($event)"
  [cdkDropListEnterPredicate]="noEnterPredicate"
>
  <div
    *ngFor="let field of section.fields; index as idx"
    class="field"
    [ngClass]="{
      'field--wide':
        (section.sectionType === formSectionType.OneToTwoPerRow && idx === 1) ||
        (section.sectionType === formSectionType.TwoToOnePerRow && idx === 0)
    }"
    [id]="field.id"
    cdkDropList
    (cdkDropListDropped)="onDrop($event, field)"
    [cdkDropListEnterPredicate]="onlyFieldsPredicate"
    cdkDrag
  >
    <app-form-field class="form-field" [field]="field"></app-form-field>

    <div class="placeholder">Drop here</div>

    <div
      class="handle"
      [ngClass]="{
        'handle--show': (selectedField$ | async)?.id === field?.id
      }"
      cdkDragHandle
    >
      <fa-icon class="handle-icon" [icon]="faArrowsUpDownLeftRight"></fa-icon>
    </div>
  </div>
</div>
