.field-list {
  padding: 0.75rem;
  display: flex;
  gap: 20px;
  min-height: 95px;
  height: 100%;
  width: 100%;
}

.field {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
}

.field--wide {
  flex: 2;
}

.handle {
  position: absolute;
  top: 50%;
  right: 100%;
  border-radius: 50%;
  width: 27px;
  cursor: pointer;
  height: 27px;
  background: #0d6efd;
  transform: translate(50%, -50%);
  justify-content: center;
  align-items: center;
  display: none;
}

.handle--show {
  display: flex;
}

.handle-icon {
  color: white;
}

.placeholder {
  background: #eee;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  border: 2px dashed #aaa;
}

.field.cdk-drop-list-dragging .placeholder {
    display: flex;
}

.field.cdk-drop-list-dragging .form-field {
    display: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
