<div class="app">
  <nav>
    <h1>Drag and drop form builder</h1>
    <button>Generate HTML</button>
  </nav>

  <div class="container">
    <!--Fields/Section Panel-->
    <app-element-list-panel></app-element-list-panel>
    <!--Form Builder-->
    <section class="form-builder-section">
      <app-form-builder></app-form-builder>
    </section>
    <!--Customization panel-->
    <section class="customization-section">
      <app-customization></app-customization>
    </section>
  </div>
</div>
