<div class="app">
  <nav>
    <h1>{{ "Drag and drop form builder" | translate}}</h1>
    <div class="actions">
      <button>{{ "GenerateHtml" | translate }}</button>
      <ng-select
        [items]="languages"
        bindLabel="label"
        bindValue="value"
        [clearable]="false"
        [ngModel]="currentLocale"
        (ngModelChange)="updateLocale($event)"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="label">
            <fa-icon size="lg" [icon]="faLanguage"></fa-icon>
            <div>{{ item.label }}</div>
          </div>
        </ng-template>
      </ng-select>
    </div>
  </nav>

  <div class="container">
    <!--Fields/Section Panel-->
    <app-element-list-panel></app-element-list-panel>
    <!--Form Builder-->
    <section class="form-builder-section">
      <app-form-builder></app-form-builder>
    </section>
    <!--Customization panel-->
    <section class="customization-section">
      <app-customization></app-customization>
    </section>
  </div>
</div>
