<div class="form-builder">
  <div
    class="section-container"
    id="section-list"
    cdkDropList
    (cdkDropListDropped)="onSectionDrop($event)"
    [cdkDropListConnectedTo]="['draggable-section-list']"
  >
    <div *ngFor="let section of sections" class="section" cdkDrag>
      <app-form-section [section]="section"></app-form-section>

      <div class="handle" cdkDragHandle>
        <fa-icon class="handle-icon" [icon]="faArrowsUpDownLeftRight"></fa-icon>
      </div>
    </div>
  </div>
</div>
